/bin/
/obj/
/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DS_Store
*.vscode

# Rider
.idea/

# Build artifacts
*.exe
*.dll
*.pdb

# NuGet
*.nupkg
/packages/

# Visual Studio temporary files
*~
*.tmp

# Logs
*.log

# Publish
publish/

# config
config.xml

# Ensure Git doesn't add binaries
*.zip

# Windows thumbnail cache
Thumbs.db

# Mac
.DS_Store

# JetBrains
.idea/

# User-specific files
*.user
